<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>视频列表</title>
    <meta name="author" content="Stevens Tian">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<!--diable the auto-transform of web browser-->
	<meta http-equiv="Cache-Control" content="no-transform">
	<meta name="applicable-device" content="pc,mobile">
  <!--link  type="text/css" href="stylesheets/style.css"-->
  <link rel="stylesheet" type="text/css" href="stylesheets/css/style_video.css">
  <!--script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script-->
  <script type="text/javascript" src="javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="javascripts/retina.js"></script>
<!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
</head>

<body>
<!-- for testing purpose 
<h1>Video List</h1>
<ul style="list-style-type:disc">
	<li><a href="./videos/1?name=lesson-1">Video 1</a></li>
	<li><a href="./videos/video2">Video 2</a></li>
	<li><a href="./videos/index2">index 2</a></li>
</ul>
-->
<div id="view">
		<header>
			<h1>视频列表</h1>
		</header>
	
		<div id="container">
			<ul>
				<!-- row -->
				<% videos.forEach( function(video) { %>
				<a href='<%=video.url%>'><li class="clearfix">
						<img src="images/<%=video.photo%>" alt="thumb" class="thumbnail">
						<h2><%=video.title%></h2>
						<p class="desc"><%=video.desc%></p>						
						<span class="price"><%=video.length%></span>
				</li></a>				
			    <%})%>
			</ul>
		</div>
	</div>

</body>
</html>
